/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require_tree .
 
 */
#service{
position:absolute;
height:400px;
width:70%;
z-index:200;
visibility: hidden;
background: #4285f4;
box-shadow: 0px 1px 10px rgba(0,0,0,0.8);
margin: 0% 0% 0% 28%;
margin-right: 3%;
top: 74px;

overflow: hidden;

  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}

#service .col-md-4 {
    text-align: left;
    width: 30%;
}

#service .row{
	margin-left: 50px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;   
    border-right: 10px solid transparent;     
    border-bottom: 10px solid #4285f4; /*#4472B9;*/
    top: 62px;
    position: absolute;
    z-index: 200;
    margin: 0% 0% 0% 65%;
}
