<div class = 'bottom_footer'>
  <div class = 'service'>
    <div class="row">
        <div class="col-md-4">
        <h2><a href="#">Services</a></h2>
          <ul>
            <li><a href="#">Web Content Management Solutions</a></li>
            <li><a href="#">Application Support and Maintenance</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Mobile Applications Development</a></li>
            <li><a href="#">Contracted Developers</a></li>
            <li><a href="#">Enterprise Solutions</a></li>
            <li><a href="#">IT Staffing Services</a></li>
          </ul>
        </div>
        <div class="col-md-4">
        <h2><a href="#">Technologies</a></h2>
          <ul>
            <li><a href="#">Ruby on Rails</a></li>
            <li><a href="#">Android</a></li>
            <li><a href="#">PHP</a></li>
            <li><a href="#">.NET</a></li>
          </ul>
        </div>
        <div class="col-md-4">
        <h2><a href="#">About US</a></h2>
          <ul>
            <li><a href="#">Introduction</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Working Culture</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
